<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with(
  scope: :credential,
  url: passkeys_path,
  data: {
    controller: "webauthn-credentials",
    action: "webauthn-credentials#create:prevent",
    "webauthn-credentials-options-url-value": create_options_passkeys_path,
  }) do |form| %>
  <div class="field">
    <%= form.label :nickname, 'Passkey nickname' %>
    <%= form.text_field :nickname, required: true %>
  </div>
  <%= form.hidden_field :public_key_credential, data: { "webauthn-credentials-target": "credentialHiddenInput" } %>
  <%= form.submit "Add Passkey", disabled: true, data: { "webauthn-credentials-target": "submitButton" } %>
<% end %>
